.text-orange {
    color: #F2994A;}
.text-gray {
    color: rgb(250, 74, 12);}
.text-cyan {
    color: rgb(250, 74, 12);}

.foot_logo  {
    background: url('imgs/l9_bg.png'); }
@media (min-width: 768px) {
    .foot_logo {
        background: url('imgs/l9_bg.png'); 
  }}
.text-high-cyan{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    color: #99EFD0;}
.text-high-orange{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    color: #F2994A;}   
.text-low-gray{
    font-size: 18px;
    line-height: 22px;
    color: #8476AA;}
.text-butt-white{
    width: 130px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    background-color: #F2994A;
    border-radius: 0.25rem;}
    
.text-butt-orange{
    width: 130px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    color: #F2994A;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    border-color: #F2994A;
    border-width: 1px; /* Толщина границы */
    border-radius: 0.25rem;}
body{
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);}
.l7_bg {

background: url('imgs/l7_bg.png'); }
.tf_none  {
    display: none; }
    
@media (min-width: 768px) {
    .tf_none {
    display: block;
    flex: none;
  }}
.tf_flex  {
    display: flex; }
    
@media (min-width: 768px) {
 .tf_flex {
    display: none;
  }}

  #p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #9A12B3;
    z-index: 30;}
     
    .contpre small{font-size:25px;}
     
    .contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#3B1D60;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}
     
    #p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(images/oval.svg) center center no-repeat;
    background-size:41px;    
    margin: -16px 0 0 -16px;}