
.pc_logo  {
    background-color: RGB(250, 250, 250);
}

@media (min-width: 768px) {
    .pc_logo {
    background: url('imgs/d_l2_logo_p.png');
  }
}

.foot_logo  {
    background-color: RGB(37, 43, 66);
}
.text-orange {
    color: rgb(250, 74, 12);
}

.bg-orange {
    background-color: rgb(250, 74, 12);
}

@media (min-width: 768px) {
    .foot_logo {
        background: url('imgs/foot_p.png'); 
  }
}
.opacity_100{
    opacity: 1.0; /* Полупрозрачность элемента */
   }
.opacity_0{
    opacity: 0.0; /* Полупрозрачность элемента */
   }